<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" content="text/html" http-equiv="Contet-Type">
</head>
<body>
  <h2>A new user has registered</h2>
  <p><%= @new_user.name %> has registered an account on your shop and requires approval</p>
  <p>To approve any user and set their share percentage, go to <%= @user_index_url %></p>
</body>
</html>
