<h1>list of current users</h1>
<table>
  <tr>
    <th>Email address</th>
    <th>Date joined</th>
    <th>Date approved</th>
  </tr>
  <%= render @users || "no users found for #{Apartement::Tenant.current}" %>
</table>
