<h1>list of users awaiting</h1>
<table>
  <tr>
    <th>Email address</th>
    <th>Date joined</th>
    <th>Date approved</th>
    <th>approve</th>
    <th>delete</th>
  </tr>
  <%= render partial: 'user', collection: users_to_approve, as: :user, locals: { render_approve: true, render_delete: true } || raw("") %>
</table>
<h1>list of Admins</h1>
<table>
  <tr>
    <th>Email address</th>
    <th>Date joined</th>
    <th>Date approved</th>
  </tr>
  <%= render partial: 'user', collection: admin_users, as: :user, locals: { render_approve: false, render_delete: false } || raw("") %>
</table>
<h1>regular users</h1>
<table>
  <tr>
    <th>Email address</th>
    <th>Date joined</th>
    <th>Date approved</th>
    <th>delete</th>
  </tr>
  <%= render partial: 'user', collection: standard_users, as: :user, locals: { render_approve: false, render_delete: true } || raw("") %>
</table>
