<p id="notice"><%= notice %></p>

<h1>Revenue Shares</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Share due</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @revenue_shares.each do |revenue_share| %>
      <tr>
        <td><%= revenue_share.amount %></td>
        <td><%= revenue_share.share_due %></td>
        <td><%= revenue_share.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
