<div class="container-fluid">
  <div class="row justify-content-center justify-content-md-start pl-md-2">
    <div class="col-6 col-md-4">
      <%= render partial: 'form', locals: { revenue_share: @new_revenue_share} %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Latest revenues</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-md-2 font-weight-bold">
      Date
    </div>
    <div class="col-4 col-md-2 font-weight-bold">
      Amount
    </div>
    <div class="col font-weight-bold">
      Share due
    </div>
  </div>
  <%= render partial: "revenue_share", collection: @latest_revenue_shares, as: :revenue_share %>
</div>
